/* 1_19_3.css */

/* Hintergrundbild für den Body */
body {
    background-image: url('../img/1_19_3_Wallpaper.png'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bild deckt den gesamten Hintergrund ab */
    background-position: center; /* Bild wird zentriert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
    max-height: 600px; /* Festgelegte Höhe für das Menü */
    overflow-y: auto; /* Scrollen bei Überfüllung */
}
