/* 1_20_1.css */

/* Hintergrundbild für den Body */
body {
    background-image: url('../img/1_20_1_Wallpaper.png'); /* Pfad zum Hintergrundbild */
    background-size: cover; /* Bild deckt den gesamten Hintergrund ab */
    background-position: center; /* Bild wird zentriert */
    background-repeat: no-repeat; /* Bild wird nicht wiederholt */
}
